.event {
  width: 100%;
  padding: 0.3rem;

  border-bottom: 1px solid rgb(214, 214, 214);
}

.event:last-child {
  border-radius: 0.25rem;
}

.event-name {
  width: 15%;
  padding: 0 1rem;
  font-weight: 500;
}
.event-description {
  word-wrap: break-word;
  overflow: auto;

  width: 75%;
  margin-right: 0.5rem;
  padding: 1rem;
}

.event-details div {
  margin: 0.4rem;
}

.event-actions {
  width: 10%;
  min-width: 100px;
  margin: 0.5rem;
}

.event-actions .btn {
  width: 2rem;
  height: 2.4rem;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0px;
}

.event-actions .btn-edit {
  border-radius: 0.25rem 0px 0px 0.25rem;
}

.event-actions .btn-invite {
  border-radius: 0px 0.25rem 0.25rem 0px;
}
