/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.event-container {
  width: 70%;
  margin: 0 auto;
  max-width: 1500px;
  min-width: 500px;
}

.event-form {
  width: 100%;
  max-width: none;
  min-width: none;
  border-radius: 0.3rem 0.3rem 0px 0px;
}

.add-event-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add-event-form input {
  margin-right: 0;
  border-right: none;
  border-radius: 0.3rem 0px 0px 0.3rem;
}

.add-event-form button {
  margin-left: 0;
  width: 50px;
  padding: 0;
  border-left: none;
  font-size: 1.5rem;
  border-radius: 0px 0.3rem 0.3rem 0px;
}

.event-list-container h4 {
  font-weight: 300;
  font-size: 1rem;
}

.events-content {
  width: 100%;

  padding: 0;

  border: 1px solid rgb(214, 214, 214);
  border-top: none;
  border-bottom: none;
  border-radius: 0px 0px 0.3rem 0.3rem;
}

.event-list {
  width: 100%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 40rem;
  padding: 5rem 1rem 1rem 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.btn--close-modal {
  color: steelblue;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

textarea {
  resize: none;
  width: 95%;
  height: 10rem;
  padding: 0.3rem 0.55rem;
  margin: 0.5rem;

  border: 0.1rem solid rgb(197, 196, 196);
  border-radius: 0.3rem;
}
